.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.summary-section {
  grid-column-start: 1;
  grid-column-end: 3;
}
.new-account-section {
  grid-column-start: 3;
  grid-column-end: 3;
}