.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.summary-section {
  grid-column-start: 1;
  grid-column-end: 3;
}
.new-account-section {
  grid-column-start: 3;
  grid-column-end: 3;
}

.tool-section {
  height: 100px;
  background-color: #d7d9b1a2;
  border-radius: 20px;
  margin: 10px 5px 5px 0px;
}
