.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.summary-section {
  grid-column-start: 1;
  grid-column-end: 3;
}
.new-account-section {
  grid-column-start: 3;
  grid-column-end: 3;
}

.money-value {
  color: #1d50ff;
  background-color: #e3e7004c;
  border-radius: 3px;
  font-size: 32px;
  margin: 0 5px 0 5px;
  padding: 2px 7px 2px 7px;
  text-decoration: underline;
}
